@use "../../utils/styles.scss" as s;

.droparea{
    display: flex;
    flex-direction: column;
    justify-content:center;
    row-gap: 12px;
    height: 100%;
    border: 2px dashed rgba(196, 196, 196, 1);
    align-items: center;

    &__container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__cell {
        width: 100%;
        height: fit-content;
    }
}

