@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap');

$main-font: Inter;
$button-border: rgba(226, 227, 229, 1);
$button-pressed: rgba(93, 95, 239, 1);
$button-background: rgba(255, 255, 255, 1);
$font-color: rgba(17, 24, 39, 1);
$fontSize: 14px;
$button-number-w: 72px;
$button-number-h: 48px;
$main-grey: rgba(243, 244, 246, 1);
$display-size: 36px;
$element-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);